body{
    /* background-color: rgb(218, 218, 218); */
}

.headerstyle{
    padding-right: 1%;
}

.title{
    text-align: center;
}

.navcolor{
    background-color: maroon;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.textcenter{
    text-align: center;
}

img{
    height: 50vh;
    width: 100%;
    margin-top: 3%;
}

.container{
    border: 1px solid black;
    margin-top: 3%;
    /* padding: 30px 50px 50px 50px; */
}

.generatorbuttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

@media screen and (max-width: 800px){
    img{
        height: 25vh;
    }
}

@media screen and (max-width: 400px){
    img{
        height: 20vh;
    }
}