body{
    background-color: rgb(238, 238, 238);
}

.headerstyle{
    padding-right: 1%;
}

.title{
    text-align: center;
}

.maroon{
    background-color: maroon;
}

hr{
    height: 5px;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.textcenter{
    text-align: center;
}

img{
    height: 50vh;
    width: 100%;
    margin-top: 3%;
}

.container{
    border: 1px solid black;
    margin-top: 3%;
    padding: 30px 50px 50px 50px;
    margin-bottom: 3%;
}

.project{
    padding-top: 3%;
}

.generatorbuttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

@media screen and (max-width: 800px){
    img{
        height: 25vh;
    }
}

@media screen and (max-width: 400px){
    img{
        height: 20vh;
    }
}