body{
    /* background-color: rgb(218, 218, 218); */
}

.headerstyle{
    padding-right: 1%;
}

.title{
    text-align: center;
}

.navcolor{
    background-color: maroon;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.image{
    height: 250px;
    width: 250px;
    margin-top: 3%;
}

li{
    list-style-type: circle;
}

.container{
    /* border: 1px solid black;
    margin-top: 3%; */
}

.generatorbuttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}