body{
    background-color: rgb(238, 238, 238);
}

.headerstyle{
    padding-right: 1%;
}

.headBG{
    background-color: black;
}

.title, footer{
    text-align: center;
}

.titletext{
    margin-top: 5%;
}

.platformTitle{
    text-align: center;
}

.titleBG{
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.maroon{
    background-color: maroon;
}

hr{
    height: 5px;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.textcenter{
    text-align: center;
}

.projectImg{
    height: 25vh;
    width: 100%;
    margin-top: 3%;
}

.homeworkImg{
    height: 17vh;
    width: 100%;
    margin-top: 3%;
}

.githubImg, .linkedinImg{
    height: 10vh;
    width: 75%;
}

.container{
    /* border: 1px solid black; */
    /* margin-top: 10%; */
    /* padding: 30px 50px 50px 50px; */
    /* margin-bottom: 10%; */
}

.aboutMe{
    margin-top: 5%;
    margin-bottom: 5%;
}

.project{
    padding-top: 3%;
}

button{
    padding: 10px 15px 10px 15px;
    background-color: gray;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.generatorbuttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

@media screen and (max-width: 800px){
    .projectImg, .homeworkImg{
        height: 15vh;
    }
}

@media screen and (max-width: 400px){
    .projectImg, .homeworkImg{
        height: 10vh;
    }
}