body{
    background-color: rgb(238, 238, 238);
}

.headerstyle{
    padding-right: 1%;
}

.headBG{
    background-color: black;
}

.title, footer{
    text-align: center;
}

.titletext{
    margin-top: 5%;
}

.platformTitle{
    text-align: center;
}

.titleBG{
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.maroon{
    background-color: maroon;
}

hr{
    height: 5px;
}

.stickynav{
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 50;
}

.textcenter{
    text-align: center;
}

img{
    height: 20vh;
    width: 100%;
    margin-top: 3%;
}

.container{
    /* border: 1px solid black; */
    margin-top: 3%;
    padding: 30px 50px 50px 50px;
    margin-bottom: 3%;
}

.project{
    padding-top: 3%;
}

button{
    padding: 10px 15px 10px 15px;
    background-color: gray;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.generatorbuttons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.introBG{
    background-color: purple;
}

@media screen and (max-width: 800px){
    img{
        height: 25vh;
    }
}

@media screen and (max-width: 400px){
    img{
        height: 20vh;
    }
}